* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: #726e29;
  min-height: 100vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

input {
  padding: 10px 15px;
  font-size: 1rem;
  border: 2px solid #282e1d;
  border-radius: 25px;
  outline: none;
  width: 250px;
  background-color: #fff;
}

input:focus {
  border-color: #282e1d;
  box-shadow: 0 0 8px rgba(217, 119, 6, 0.2);
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 15px;
  background-color: #282e1d;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 8px;
}

button:hover {
  background-color: #343c26;
}


#topBox {
  background: rgb(223, 218, 191);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 850px;
  padding: 1.5rem 1.5rem;
  text-align: center;
}

#bottomBox {
  display: none;
  background: rgb(223, 218, 191);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 1000px;
  padding: 25px 35px;
  margin-top:1.5rem;
  /* text-align: center; */

}

/* -----API 1 STYLING----- */
#apiOneContainer {
  display: none;
  background: #887b61;
  color: #282e1d;
  padding: 25px 35px 0 35px;
  border-radius: 12px 12px 0 0;

}

.name {
  font-size: 4.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center; 
}

.scientificName {
  font-size: 1.5rem;
  color: rgb(20, 20, 20);
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(40, 46, 29, 0.4);
  text-align: center;
}

.label {
  font-weight: bold;
  color: rgb(12, 12, 12);
}

.diet, .location {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #2e1f12;
}



/* -----API 2 STYLING----- */

#apiTwoContainer {
  display: none;
  background: #887b61;
  color: #2e1f12;
  padding: 0 35px 25px 35px;
  border-radius:12px;
  /* margin-top: 35px; */
  border-radius: 0 0 12px 12px;

}

.subregion {
  font-size: 1.4rem;
  color: #2e1f12;
}

.cName {
  font-size: 1.4rem;
  line-height: 1.6;
}

.flag h2 {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #282a25;
}